$unit: 1rem;

$break-large: 769px;

$dark-primary-color: #0288D1;
$default-primary-color: #008ABA;
$light-primary-color: #B3E5FC;
$text-primary-color: #FFFFFF;
$accent-color: #FF4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$header-desktop: 6.4 * $unit;
$header-mobile: 5.6 * $unit;
