@import '../variables.scss';

.pusher, .full.height {
  height: 100%;
}

.full.height {
  display: flex;
  flex-direction: row;
}

.article {
  flex: 1 1 auto;
  min-width: 0px;
  overflow-y: auto;
}

.article__inner {
  padding: 3em 0.5em;

  @media screen and (min-device-width: $break-large) {
    padding: 1em 0.5em;
  }
}
